@CHARSET "UTF-8";

a.btn.read-more-btn{
	text-decoration: none;
    background-color: #222;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: none;
    overflow: visible;
    background-image: none;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

a.btn.read-more-btn:hover{
	background-color: #333;
}

.htheme_box_item.htheme_icon_social_instagram{
	margin: 0;
    opacity: 1;
    display: inline-block;
    padding: 0;
    width: auto;
    margin-left: 2px;
    margin-bottom: -2px;
}

.htheme_box_item.htheme_icon_social_instagram:hover:before{
	color: #333 !important;
	background-color: #fff !important;
}

.htheme_share a{
	text-decoration: none;
	color: #009bb4;
}